.titulosH1 {
  text-align: center;
  font-family: 'Libre Baskerville', serif; }
  .titulosH1 margin {
    top: 1%;
    bottom: 0.5%; }

.titulosH2 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  color: #0a0d0f; }
  .titulosH2 margin {
    top: 10%;
    bottom: 0.5%; }

.titulosH3 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px; }
  .titulosH3 margin {
    top: 0.5%;
    bottom: 0.5%; }

.navbar-brand {
  margin: 0;
  padding: 0; }

.logo {
  height: 50px;
  width: 100px; }

.ig {
  width: 56px;
  height: 56px; }

.fb {
  width: 100px;
  height: 56px; }

.tw {
  width: 56px;
  height: 56px; }

.copyright {
  padding: 1%; }

.imgSer1 {
  width: 100%;
  height: 100%; }

.tituloSeguro {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin-bottom: 0.25rem; }

body {
  background-image: url("../images/body_background.jpg"); }

.imgHomeB {
  height: 300px;
  width: 300px; }

.mainText {
  padding-top: 70px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px; }

.posH3 {
  margin-top: 40px; }

.configContenedorForm {
  background-color: rgba(96, 96, 119, 0.473);
  border-radius: 10px;
  padding-left: 200px;
  margin-bottom: 20px; }

.btnEnviar, .btnReiniciar {
  font-size: 25px;
  font-weight: bold;
  padding-left: 2%;
  padding-right: 2%;
  color: whitesmoke; }

.btnEnviar {
  background-color: #1e28b8; }

.btnReiniciar {
  background-color: royalblue; }

.imgFaq {
  width: 100%;
  Height: 100%;
  justify-content: left; }

.faqTitle {
  font-size: 25px; }

.listaPreguntas {
  list-style-type: none;
  padding-left: 4%;
  padding-top: 2%;
  padding-right: 3.43%;
  text-align: center;
  padding-bottom: 0; }

.liFaq {
  font-family: 'Mukta', sans-serif;
  font-size: 20px; }

.liFaqPreg {
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  font-size: 22px; }

.plan1 {
  height: 60px;
  background-color: #2b6a9e;
  text-align: justify;
  text-align: center;
  padding-top: 0.8rem; }

.plan2 {
  height: 60px;
  background-color: #4c80ac;
  text-align: justify;
  text-align: center;
  padding-top: 0.8rem; }

.plan3 {
  height: 60px;
  background-color: #397eb6;
  text-align: justify;
  text-align: center;
  padding-top: 0.8rem; }

.descripcion {
  padding-top: 2%;
  font-size: 23px;
  color: #1d1e1f;
  font-weight: bold;
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5%;
  height: 12rem; }

.listaPlanes {
  font-size: 20px;
  list-style-position: inside;
  margin-left: 10px;
  height: 35rem; }

.precio {
  font-size: 30px;
  font-weight: bold;
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  padding-top: 10%; }

.colClara {
  background-color: #DEDFDF; }

.colOscura {
  background-color: #BFBFBF; }
