.imgFaq{
    width: 100%;
    Height: 100%;
    justify-content: left;
  }
  
  .faqTitle{
    font-size: 25px;
  }
  
  .listaPreguntas{
    list-style-type: none;
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 3.43%;
    text-align: center;
    padding-bottom: 0;
  }
  
  .liFaq{
  font-family: 'Mukta', sans-serif;
  font-size: 20px;
  }
  
  .liFaqPreg{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 22px;
  }