.imgHomeB{
    height: 300px;
    width: 300px;
  }
  
  .mainText{
    padding-top: 70px;
    text-align: justify;
    padding-left:10px;
    padding-right:10px;
  }
  
  .posH3{
  margin-top:40px;
  }