.titulosH1 {
    text-align: center;
    margin{ 
        top: 1%;
        bottom: 0.5%;}
    font-family: 'Libre Baskerville', serif;
    }
  
  .titulosH2 {
    text-align: center;
    margin{
        top: 10%;
        bottom: 0.5%;}
    font-family: 'Libre Baskerville', serif;
    color: rgb(10, 13, 15);
  }
  
  
  .titulosH3 {
    text-align: center;
    margin{ 
        top:0.5%;
        bottom: 0.5%;}
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
  }